.profile__edit-button{
    border: none;
    background: none;
    padding: 0px;
    width: 25px;
    height: 25px;
    align-self: end;
}

.profile__edit-button:hover{
    cursor: pointer;
    opacity: 0.5;
}

@media (min-width: 320px) and (max-width: 1024px) {
    .profile__edit-button{ 
        width: 18px;
        height: 18px;
    }

}