.popup__container{
    display: flex;
    position: absolute;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 10px;
    width: 430px;
    height: 330px;
    left: calc((100vw - 430px) / 2);
    top: calc((100vh - 330px) / 2);
    }
    
    @media (min-width: 320px) and (max-width: 1024px){
        .popup__container{
           width: 320px;
           border-radius: 0px;  
           left: calc((100vw - 320px) / 2);
        }
    
    }