@import url(__logo/header__logo.css);
@import url(__line/header__line.css);

.header{
    max-width: 880px;
    margin-bottom: 0px;
    margin-left: calc((100% - 880px) / 2);
}
@media (min-width: 320px) and (max-width: 1024px) {

    .header{
     margin-left: 0px;
    }

}