.popup__name{
    align-self: center;
    font-family: 'Inter', Arial, sans-serif; 
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    color: #000000;
    margin-top: 35px;
    margin-bottom: 50px;
    
    }
