.popup__name{
    align-self: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 900px;
    font-size: 24px;
    color: #000000;
    margin-top: 35px;
    margin-bottom: 50px;
    
    }