.profile__info{
    display: grid;
    grid-template-areas: 
    "name button"
    "activity activity";
    grid-template-columns: 295px 25px;
    grid-template-rows: 40px 20px;
    grid-gap: 20px;
    margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 1023px) {
    .profile__info{  
        grid-template-columns: 1fr 18px;
        grid-template-rows: 40px 20px;
        grid-column-gap: 6px;
        grid-row-gap: 15px;
        margin-bottom: 36px;
        max-width: 208px;
        justify-self: center;
        margin-top: 0px;

  }
}