@import url(__copyright/footer__copyright.css);


.footer{
    padding-bottom: 60px;
    margin-top: 70px;
}
@media (min-width: 320px) and (max-width: 1024px){

    .footer{
        margin-top: 38px;
        padding-bottom: 36px;
    }

}
